<div class="scroll">
<div class="table">
<div class="schedule-wrapper">
    <div class="schedule-header">
        <div class="empty-corner"></div>
        <div class="periods">
            <div class="period-col matutino" *ngIf="shift === 'matutino' || shift === 'todos'">Matutino</div>
            <div class="period-col vespertino" *ngIf="shift === 'vespertino' || shift === 'todos'">Vespertino</div>
            <div class="period-col noturno" *ngIf="shift === 'noturno' || shift === 'todos'">Noturno</div>
        </div>
        <div class="empty-corner"></div>
        <div class="time-slots">

            <div class="time-slot" *ngIf="shift === 'matutino' || shift === 'todos'">07:40 / 08:00</div>
            <div class="time-slot" *ngIf="shift === 'matutino' || shift === 'todos'">09:40 / 10:00</div>
            <div class="time-slot" *ngIf="shift === 'vespertino' || shift === 'todos'">13:00 - 14:40</div>
            <div class="time-slot" *ngIf="shift === 'vespertino' || shift === 'todos'">15:00 - 16:40</div>
            <div class="time-slot" *ngIf="shift === 'noturno' || shift === 'todos'">18:20 - 20:00</div>
            <div class="time-slot" *ngIf="shift === 'noturno' || shift === 'todos'">20:20 - 22:00</div>
        </div>
    </div>
</div>

<div class="schedule-grid">
  <div class="activity-row" *ngFor="let row of visibleItems">
    <div class="activity-name">{{ row[0].lab }}</div>
    <dhc-celula-quadro
      *ngFor="let cell of row.slice(0, maxCells)"
      [teacher]="cell.teacher"
      [disciplina]="cell.disciplina"
        [lab]="cell.lab"
        [dia_e_horario]="cell.dia_e_horario"
        [inicio]="cell.inicio"
        [duracao]="cell.duracao"
      (cellClicked)="onCellClicked($event)">
    </dhc-celula-quadro>
  </div>
</div>
</div>
</div>