<dhc-modal-info-reserva *ngIf="showPopup" (closePopup)="closePopup()" professor="Ricardo Freitas" disciplina="Algoritmos e Estrutura de Dados I" lab="Metodologias Ativas IV" dia_e_horario="Terça 10:00 Quinta 08:00" inicio_reserva="1 de Maio" duracao_reserva="Até 4 de Julho"></dhc-modal-info-reserva>

<div class="schedule-header">
    <div class="empty-corner"></div>
    <div class="period-col matutino">Matutino</div>
    <div class="period-col vespertino">Vespertino</div>
    <div class="period-col noturno">Noturno</div>

    <div class="time-slots">
        <div class="time-slot">07:40 / 08:00</div>
        <div class="time-slot">09:40 / 10:00</div>
        <div class="time-slot">13:00 - 14:40</div>
        <div class="time-slot">15:00 - 16:40</div>
        <div class="time-slot">18:20 - 20:00</div>
        <div class="time-slot">20:20 - 22:00</div>
    </div>
</div>

<div class="schedule-grid">
    <div class="activity-row">
        <div class="activity-name">Lab Tec. I</div>
        <dhc-celula-quadro (click)="showPopup = !showPopup" onkeydown="showPopup = !showPopup"></dhc-celula-quadro>
        <dhc-celula-quadro (click)="showPopup = !showPopup" onkeydown="showPopup = !showPopup"></dhc-celula-quadro>
        <dhc-celula-quadro (click)="showPopup = !showPopup" onkeydown="showPopup = !showPopup"></dhc-celula-quadro>
        <dhc-celula-quadro (click)="showPopup = !showPopup" onkeydown="showPopup = !showPopup"></dhc-celula-quadro>
        <dhc-celula-quadro (click)="showPopup = !showPopup" onkeydown="showPopup = !showPopup"></dhc-celula-quadro>
        <dhc-celula-quadro (click)="showPopup = !showPopup" onkeydown="showPopup = !showPopup"></dhc-celula-quadro>
    </div>

    <div class="activity-row">
        <div class="activity-name">Lab Tec. II</div>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
    </div>

    <div class="activity-row">
        <div class="activity-name">Metodologias Ativas I</div>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
    </div>

    <div class="activity-row">
        <div class="activity-name">Laboratório de Inovação</div>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
    </div>

    <div class="activity-row">
        <div class="activity-name">Laboratório de Química</div>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
    </div>

    <div class="activity-row">
        <div class="activity-name">Metodologias Ativas II</div>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
    </div>

    <div class="activity-row">
        <div class="activity-name">Metodologias Ativas III</div>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
    </div>

    <div class="activity-row">
        <div class="activity-name">Maqueteria</div>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
    </div>

    <div class="activity-row">
        <div class="activity-name">Laboratório Tecnológico IX</div>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
        <dhc-celula-quadro></dhc-celula-quadro>
    </div>
</div>