:host {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-family: 'Montserrat', sans-serif;
}

.cadastro-card {
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  background: #ffffff;
  border-radius: 1rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column; 
}

.titulo {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.campo {
  display: flex;
  flex-direction: column; 
  margin-bottom: 1.5rem;
}

.campo label {
  margin-bottom: 0.5rem;
  font-weight: 500;
  font-size: 1rem;
  color: #333;
}

.campo input {
  padding: 0.75rem 1rem;
  border: 1px solid #000000;
  background-color: #f7f7f7;
  font-size: 1rem;
  width: 100%; 
  box-sizing: border-box; 

  &::placeholder {
    color: #F0F1F5;
  }

  &:focus {
    outline: none;
    border-color: #d71940;
    background-color: #fff;
  }
}

.erro {
  color: #d71940;
  font-size: 0.875rem;
  margin-bottom: 1.5rem;
  text-align: center;
  display: block;
}

dhc-dynamic-button {
  width: 100%;
  margin-top: 1.5rem;
  display: block; 
}

@media (min-width: 768px) {
  .cadastro-card {
    max-width: 500px;
    padding: 3rem 2rem;
  }

  .titulo {
    font-size: 2rem;
  }

  .campo input {
    font-size: 1.1rem;
  }
}