<header class="top-header-red">
    <button class="dropdown-button-red">
        Todos <span class="arrow-right">›</span>
    </button>

    <div class="date-navigation-wrapper-red">
        <button class="nav-arrow-red" (click)="goToPreviousDay()">&leftarrow;</button>
        <span class="current-date-display-red">
            {{ selectedMainDate | date: 'fullDate':'':'pt-BR' }}
        </span>
        <button class="nav-arrow-red" (click)="goToNextDay()">&rightarrow;</button>
    </div>

    <div class="calendar-notification-group">
        <div class="calendar-button-container-red">
            <button class="calendar-toggle-button-red" (click)="toggleCalendar()">
                <svg viewBox="0 0 24 24" fill="black" width="24px" height="24px">
                    <path d="M19 4h-2V2h-2v2H9V2H7v2H5c-1.11 0-1.99.9-1.99 2L3 20c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 16H5V9h14v11zM7 11h5v5H7z"/>
                </svg>
            </button>

            <div class="calendar-popup" *ngIf="showCalendar">
                <div class="calendar-header">
                    <button class="nav-button" (click)="goToPreviousMonth()">&lt;</button>
                    <span class="month-year">{{ currentCalendarDate | date: 'MMMM yyyy':'':'pt-BR' | titleCaseMonth }}</span>
                    <button class="nav-button" (click)="goToNextMonth()">&gt;</button>
                </div>
                <div class="calendar-days-header">
                    <span>SEG</span><span>TER</span><span>QUA</span><span>QUI</span><span>SEX</span><span>SÁB</span><span>DOM</span>
                </div>
                <div class="calendar-grid">
                    <ng-container *ngFor="let day of calendarDays">
                        <span
                            [class.empty]="day.empty"
                            [class.selected]="day.date && isSelectedDate(day.date)"
                            [class.current-day]="day.date && isCurrentDay(day.date)"
                            (click)="day.date && onDaySelected(day.date)" (keydown)="day.date && onDaySelected(day.date)" tabindex="0"
                        >
                            {{ day.dayNumber }}
                        </span>
                    </ng-container>
                </div>
            </div>
        </div>

        <button class="notification-button-red" id="notificationsButton">
            <svg viewBox="0 0 24 24" fill="white" width="24px" height="24px">
                <path d="M12 22c1.1 0 2-.9 2-2h-4c0 1.1.9 2 2 2zm6-6v-5c0-3.07-1.63-5.64-4.5-6.32V4c0-.83-.67-1.5-1.5-1.5S10.5 3.17 10.5 4v.68C7.63 5.36 6 7.93 6 11v5l-2 2v1h16v-1l-2-2z"/>
            </svg>
        </button>
    </div>
</header>