<div class="inicio-container">
  <p class="label-turno">Turno</p>

  <div class="filtro">
    <form [formGroup]="filtroForm">
      <div class="filtro-inputs-wrapper">
        <dhc-input-select class="turno" label="Turno" [options]="['Manhã', 'Tarde', 'Noite', 'Todos']"
          placeholder="Todos" formControlName="filtroTurno">
        </dhc-input-select>

        <div class="data-calendario-wrapper" (click)="abrirCalendario()" (keydown.enter)="abrirCalendario()"
          tabindex="0" role="button">
          <span class="data-selecionada">{{ dataFormatada }}</span>
          <img class="calendar-icon" src="assets/img/calendario.png" alt="calendário">

          <div class="calendario-container" (click)="$event.stopPropagation()"
            (keydown.enter)="$event.stopPropagation()"
            tabindex="0" role="button"
            >
            <dhc-calendar (dateChange)="onDateChange($event)" *ngIf="mostrarCalendario()" selectionMode="single" />
          </div>
        </div>
      </div>
    </form>
  </div>

  <div class="cards-background">
    <div class="cards-box">
      <div class="scrollable-cards-wrapper">
        <div class="salas-disponiveis" (mousedown)="onMouseDown($event)" (mouseleave)="onMouseLeave()"
          (mouseup)="onMouseUp()" (mousemove)="onMouseMove($event)" (touchstart)="onTouchStart($event)"
          (touchend)="onTouchEnd()" (touchmove)="onTouchMove($event)">

          <ng-container *ngFor="let sala of salasDisponiveisFiltradas">
            <dhc-card titulo="{{ sala.nome }}" imgSrc="{{ sala.imagem }}" andar="{{ sala.andar }}"
              horario1="{{ sala.horarios.manha ? sala.horarios.manha[0] : '' }}"
              horario2="{{ sala.horarios.tarde ? sala.horarios.tarde[0] : '' }}"></dhc-card>
          </ng-container>

        </div>
      </div>
    </div>

    <div class="cards-box">
      <h2 class="titulo-indisponiveis">Indisponíveis</h2>
      <div class="scrollable-cards-wrapper">
        <div class="salas-indisponiveis" (mousedown)="onMouseDown($event)" (mouseleave)="onMouseLeave()"
          (mouseup)="onMouseUp()" (mousemove)="onMouseMove($event)" (touchstart)="onTouchStart($event)"
          (touchend)="onTouchEnd()" (touchmove)="onTouchMove($event)">

          <ng-container *ngFor="let sala of salasIndisponiveisFiltradas">
            <dhc-card titulo="{{ sala.nome }}" imgSrc="{{ sala.imagem }}" andar="{{ sala.andar }}"
              horario1="{{ sala.horarios.manha ? sala.horarios.manha[0] : '' }}"
              horario2="{{ sala.horarios.tarde ? sala.horarios.tarde[0] : '' }}" [disabled]="true"></dhc-card>
          </ng-container>

        </div>
      </div>
    </div>
  </div>
</div>