<div class="login-card">
  <h2 class="titulo">Login</h2>

  <form [formGroup]="loginForm">
    <div class="campo">
      <dhc-input-text
        label="Usuário"
        placeholder="Digite seu usuário"
        formControlName="username"
      ></dhc-input-text>
      <span class="erro" *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)">
        Usuário é obrigatório.
      </span>
    </div>

    <div class="campo">
      <dhc-input-text
        label="Senha"
        type="password"
        placeholder="Digite sua senha"
        formControlName="password"
      ></dhc-input-text>
      <span class="erro" *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
        Senha é obrigatória.
      </span>
    </div>
  </form>

  <dhc-dynamic-button (clicked)="login()" label="Acessar" type="primary" color="red"></dhc-dynamic-button>

  <button type="button" class="link-alternar" (click)="goToCadastro.emit()">Não tem cadastro? Crie agora!</button>
</div> 