<div class="login-card">
  <h2 class="titulo">Login</h2>

  <form [formGroup]="loginForm">
    <div class="campo">
      <label>
        Usuário
        <input formControlName="username" />
      </label>
    </div>

    <div class="campo">
      <label>
        Senha
        <input type="password" formControlName="password" />
      </label>
    </div>
  </form>

  <dhc-dynamic-button (buttonClick)="login()" label="Acessar" type="primary" color="red"></dhc-dynamic-button>

  <button type="button" class="link-alternar" (click)="goToCadastro.emit()">Não tem cadastro? Crie agora!</button>
</div>