@use '../../../variables.scss' as *;

button {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;

  border: none;
  outline: none;
  border-radius: 13px;

  transition: box-shadow 0.2s, background 0.2s, color 0.2s, transform 0.1s;
  box-shadow: 0px 8px 8px 0px #00000040;

  min-width: 120px;
  min-height: 56px;
  padding: 12px 36px;
  margin: 12px 18px;

  display: flex;
  align-items: center;
  justify-content: center;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

button.pressed {
  box-shadow: 0px 8px 8px 0px #00000040 inset;
  transform: scale(0.98);
}

button.red {
  background: $primary-red-oficial;
  color: #fff;
}

button.red:hover {
  background-color: #F8ECEC;
  color: $primary-red-oficial;
}

button.white-red {
  background: #fff;
  color: $primary-red-oficial;
  border: 2px solid #F8ECEC;
}

button.blue {
  background: $primary-blue;
  color: #fff;
}

button.blue:hover {
  background: #fff;
  color: $primary-blue;

}

button.secondary-default {
  background: $primary-gray;
  color: $primary-blue;
  border: 2px solid $primary-gray;
}

@media (max-width: 600px) {
  button {
    border-radius: 10px;
    min-width: 80px;
    min-height: 40px;
    padding: 8px 18px;
    font-size: 14px;
  }
  button.blue {
    font-size: 12px;
  }
  button.red, button.white-red {
    font-size: 14px;
  }
}