<div class="card" [class.card-indisponivel]="disabled()" (click)="onClick()" (keydown.enter)="onClick()" tabindex="0">
    <div class="photo">
        <div class="horarios">
            <div class="horario1">{{horario1()}}</div>
            <div class="horario2">{{horario2()}}</div>
        </div>
        <img src={{imgSrc()}} alt="image">
        <div class="hover-icon">+</div>
    </div>

    <div class="titulo">{{titulo()}}</div>
    <div class="local">
        <div class="predio">Prédio I</div>
        <div class="andar">{{andar()}}</div>
    </div>
</div>