<div class="popup">
    <div class="options">
        <img src="assets/img/edit-reserva.svg" alt="icon">
        <img src="assets/img/apagar-reserva.svg" alt="icon">
        <img src="assets/img/close-popup.svg" alt="icon">
    </div>
    <p class="prof">{{professor}}</p>
    <div class="infoReserva">

        <p class="lab">{{lab}}</p>
        <p class="discipl">{{disciplina}}</p>
        <ul>
            <li>{{dia_e_horario}}</li>
            <li>{{duracao_reserva}}</li>
            <li>{{inicio_reserva}}</li>
        </ul>
    </div>
</div>
