<div class="custom-dropdown" [class.dropdown--open]="isOpen()" (document:click)="closeDropdown($event)"
  (keyup.enter)="toggleDropdown()" tabindex="0">
  <p class="label-turno">Turno</p>
  <div class="dropdown-header" (click)="toggleDropdown()" (keyup.enter)="toggleDropdown()" tabindex="0">
    <span class="dropdown-header__selected">{{ selected() }}</span>
    <div class="dropdown-header__arrow">
      <svg width="14" height="14" viewBox="0 0 24 24" fill="none" stroke="#868686" stroke-width="2"
        stroke-linecap="round" stroke-linejoin="round">
        <polyline points="9 6 15 12 9 18" />
      </svg>
    </div>
  </div>

  <ul class="dropdown-options" [class.dropdown-options--open]="isOpen()">
    <li class="dropdown-option" *ngFor="let option of options()" (click)="selectOption(option)"
      (keyup.enter)="toggleDropdown()" tabindex="0">
      {{ option.label }}
    </li>
  </ul>
</div>