<div class="tudo">
  <form [formGroup]="formulario">
    <h1 class="titulo">Cadastro de laboratório</h1>

    <div class="inserir-nome">
      <p class="texto-nome">Insira o nome do laboratório</p>
      <dhc-input-text formControlName="nomeSala" placeholder="Nome do Laboratório"></dhc-input-text>
      <p *ngIf="formulario.get('nomeSala')?.invalid && formulario.get('nomeSala')?.touched" class="erro">
        Nome é obrigatório
      </p>
    </div>

    <div class="container-seletores">
      <dhc-selecao titulo="Prédio" [opcoes]="[1, 2]" layout="vertical" formControlName="predioSelecionado">
      </dhc-selecao>
      <div class="mensagem-erro" *ngIf="formulario.get('predioSelecionado')?.invalid && formulario.get('predioSelecionado')?.touched">
        Selecione um prédio.
      </div>

      <dhc-selecao titulo="Andar" [opcoes]="andaresDisponiveis()" layout="horizontal" formControlName="andarSelecionado">
      </dhc-selecao>
      <div class="mensagem-erro" *ngIf="formulario.get('andarSelecionado')?.invalid && formulario.get('andarSelecionado')?.touched">
        Selecione um andar.
      </div>
    </div>

  
  <p class="texto-foto">Selecione a foto do laboratório</p>
  <div class="imagens-mockadas">
    <img 
      *ngFor="let id of imagensMock"
      [src]="'/assets/img/foto-lab.png'"
      [class.selecionada]="formulario.get('imagem')?.value === id"
      (click)="selecionarImagem(id)"
      (keydown.enter)="selecionarImagem(id)"
      tabindex="0"
      role="button"
      alt="Imagem do laboratório"
    />
  </div>
  <div class="mensagem-erro" *ngIf="formulario.get('imagem')?.invalid && formulario.get('imagem')?.touched">
      Selecione uma imagem.
  </div>  
    
    <div class="botao">
      <dhc-dynamic-button
        [label]="isLoading() ? 'Registrando...' : 'Registrar'"
        (clicked)="registrar()"
        [disabled]="formulario.invalid || isLoading()"
      ></dhc-dynamic-button>
    </div>
  </form>
</div>