
* {
  margin: 0;
}


.tudo {
  display: flex;
  flex-direction: column;
  align-items: center; 
  max-width: 900px;    
  margin: 0 auto;      
  padding: 20px;       
}

.titulo {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  margin-top: 26px;

  text-align: center;  
  width: 100%;       
}


.inserir-nome {
  width: 100%;         
  max-width: 350px;    
  margin-top: 43px;

}

.texto-nome {
  margin-left: 0;
  font-size: 16px;
}

.container-seletores {
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  max-width: 600px; 
  padding: 0;
  margin-top: 20px;
}


.texto-foto{
  margin-top: 50px;
}
.botao {
  margin-top: 40px;
  display: flex;
  justify-content: center; 
}
.imagens-mockadas {
  display: flex;
  gap: 16px;
  justify-content: center;
  margin-top: 20px;
}

.imagens-mockadas img {
  width: 110px;
  height: auto;
  border: 2px solid transparent;
  cursor: pointer;
  border-radius: 4px;
  transition: border 0.2s;
}

.imagens-mockadas img.selecionada {
  border-color: #007BFF; 
}
@media (min-width: 1200px) {
  .tudo {
    max-width: 900px;
    padding: 40px 20px;
  }

  .titulo {
    font-size: 40px;
    margin-top: 52px;
    text-align: center;
  }

  .inserir-nome {
    max-width: 900px;
    margin-top: 60px;
  }

  .texto-nome {
    font-size: 20px;
  }

  .container-seletores {
    max-width: 900px;
    margin-top: 30px;
  }
  .texto-foto{
    font-size: 18px;
    margin-bottom: 20px;
  }
  .imagens-mockadas img{
    width: 200px;
  }
  .botao {
    margin-top: 50px;
  }
}
