<h1 class="titulo">Cadastro de laboratório</h1>
<div class="inserir-nome">
  <!-- use o input-text
    <label for="nomelab"><span class="nome">Nome</span></label>
    <input type="text" id="nomelab" placeholder="Nome do laboratório"[(ngModel)]="nomeLab"> -->
</div>
<div class="container-seletores">
  <dhc-selecao titulo="Prédio" [opcoes]="[1, 2]" [selecionado]="predioSelecionado"
    (selecionadoChange)="predioSelecionado = $event" layout="vertical">
  </dhc-selecao>
  <p>Prédio selecionado: {{ predioSelecionado }}</p>

  <dhc-selecao titulo="Andar" [opcoes]="[1,2,3,4,5,6,7,8,9,10,11]" [selecionado]="andarSelecionado"
    (selecionadoChange)="andarSelecionado = $event" layout="horizontal">
  </dhc-selecao>
  <p>Andar selecionado: {{ andarSelecionado }}</p>

</div>

<p class="texto-foto">Selecione a foto do laboratório</p>
<img src="/assets/img/foto-lab.png" alt="Colocar foto laboratório" class="foto" id="imagemLab">
<input type="file" id="upload" accept="image/*" style="display: none;">

<!-- uso dynamicbutton
<button class="botao-registro" (click)="registrar()"><span class="botao-texto">Registrar</span></button>
 -->