
* {
  margin: 0;
}


.tudo {
  display: flex;
  flex-direction: column;
  align-items: center; 
  max-width: 900px;    
  margin: 0 auto;      
  padding: 20px;       
}

.titulo {
  font-family: Montserrat;
  font-weight: 700;
  font-size: 20px;
  color: #000000;
  margin-top: 26px;

  text-align: center;  
  width: 100%;       
}


.inserir-nome {
  width: 100%;         
  max-width: 350px;    
  margin-top: 43px;

}

.texto-nome {
  margin-left: 0;
  font-size: 16px;
}

.container-seletores {
  display: flex;
  gap: 2rem;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 100%;
  max-width: 600px; 
  padding: 0;
  margin-top: 20px;
}

.botao {
  margin-top: 30px;
}

@media (min-width: 1200px) {
  .tudo {
    max-width: 900px;
    padding: 40px 20px;
  }

  .titulo {
    font-size: 40px;
    margin-top: 52px;
    text-align: center;
  }

  .inserir-nome {
    max-width: 900px;
    margin-top: 60px;
  }

  .texto-nome {
    font-size: 20px;
  }

  .container-seletores {
    max-width: 900px;
    margin-top: 30px;
  }

  .botao {
    margin-top: 50px;
  }
}
