* {
  font-family: 'montserrat', sans-serif;
}
h1 {
  padding: 20px;
}
div.requests {
  display: grid;
  grid-template-columns: auto auto;
  gap: 20px;
  margin: 0px 10px 0 10px;
}

@media (max-width: 768px) {
  div.requests {

    display: flex;
    flex-direction: column;
  }
}