<h1>Confirmar Solicitações</h1>

<div class="requests">
  <dhc-confirm-request lab="Metodologias Ativas II" horario="08:00h" professor="Renata" disciplina="Algoritmos e Estrutura de Dados I"></dhc-confirm-request>
  <dhc-confirm-request lab="Metodologias Ativas II" horario="10:00h" professor="Ricardo Freitas" disciplina="Algoritmos e Estrutura de Dados I"></dhc-confirm-request>
  <dhc-confirm-request lab="Metodologias Ativas I" horario="08:00h" professor="Ricardo Freitas" disciplina="Algoritmos e Estrutura de Dados I"></dhc-confirm-request>
  <dhc-confirm-request lab="Metodologias Ativas I" horario="08:00h" professor="Vinícus Von Filippo" disciplina="Desenvolvimento Web Front-End"></dhc-confirm-request>
  <dhc-confirm-request lab="Metodologias Ativas I" horario="08:00h" professor="Vinícus Von Filippo" disciplina="Desenvolvimento Web Front-End"></dhc-confirm-request>
  <dhc-confirm-request lab="Metodologias Ativas I" horario="08:00h" professor="Vinícus Von Filippo" disciplina="Desenvolvimento Web Front-End"></dhc-confirm-request>
  <dhc-confirm-request lab="Metodologias Ativas I" horario="08:00h" professor="Vinícus Von Filippo" disciplina="Desenvolvimento Web Front-End"></dhc-confirm-request>

</div>