<ng-container *ngIf="type">
  <ng-container [ngSwitch]="type">
    <dhc-modal-confirmacao
      *ngSwitchCase="'confirmacao'"
      (fechar)="fecharModal()"
    ></dhc-modal-confirmacao>

    <dhc-modal-erro
      *ngSwitchCase="'erro'"
      (fechar)="fecharModal()"
    ></dhc-modal-erro>

    <dhc-modal-exclusao
      *ngSwitchCase="'cancelamento'"
      (fechar)="fecharModal()"
    ></dhc-modal-exclusao>
    <dhc-modal-erro-lab
      *ngSwitchCase="'erro-lab'"
      (fechar)="fecharModal()"
    ></dhc-modal-erro-lab>
  </ng-container>
</ng-container>
