.botao{
  background: transparent;
  border: none;
  cursor: pointer;
}
.menu {
  margin-left: 1.25rem;
  width: 1.25rem;
}
.imagem-menu{
   height: 0.70rem;
   width: 1.03rem;
}
img[src$="vector-desk.png"]{
  height:0.75rem;
  width:0.75rem;
}
@media (min-width: 1200px) {
  .menu{
    margin-left: 2.50rem;
    width: 2.50rem;
  }
  .imagem-menu{
    height: 1.40rem;
    width: 2.06rem;
  }
  img[src$="vector-desk.png"]{
  height:1.50rem;
  width:1.50rem;
}
}