
    <section class="header">
        
        <button id="Menu__button">
            <div class="img-mobile">
            <img src="/src/assets/img/Menu.png" alt="Menu" class="menu" id="icone-menu">
            <img src="/src/assets/img/Vector.png" alt="X" class="close-menu hidden" id="icone-fechar">
            </div>
            <div class="img-desk">
            <img src="/src/assets/img/menu-desk.png" alt="Menu" class="menu__desk" id="icone-menu-desk">
            <img src="/src/assets/img/vector-desk.png" alt="X" class="close-menu__desk hidden" id="icone-fechar-desk">
            </div>
            
        </button>
        <img src="/src/assets/img/logo-domhelder.png" alt="Logo da dom helder" class="logo__dom">
        <img src="/src/assets/img/icone-usuario.png" alt="Icone usuário" class="icone__usuario">
    </section>
    <nav id="navegacao" class="hidden">
         <ul>
              <li ><a href="#"class="navegacao__item navegacao__titulo">Página inicial</a></li>
              <li ><a href="#"class="navegacao__item">Quadro de <br>Reservas</a></li>
              <li ><a href="#"class="navegacao__item">Cadastrar <br>Laboratorios</a></li>
              <li ><a href="#"class="navegacao__item">Solicitação de <br>Reservas</a></li>
        </ul>
     </nav>
   