*{
    margin: 0;
}
.modal-erro-lab{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 0px 0px 4px 4px rgba(0,0,0,0.25);
    position: relative;
    margin: 10px;/*Apenas para facilitar a visualização na hora de programar*/
}
.botao-fechar{
    position: absolute;
    top: 13px;
    right:13px;
    background: none;
    border: none;
    cursor: pointer;
}
.icone-fechar{
    width: 16px;
    height: 16px;
}
.center{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
    gap:15.67px
}
.icone-erro{
    width: 51.67px;
    height: 48.33px;
}
.texto{
    font-family: Montserrat;
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}
.motivo-erro{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 14px;
}
.botao-tentar_novamente{
    width: 135px;
    height: 40px;
    background-color: #172944;
    border-radius: 10px;
    border: none;
    box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.25);
    cursor: pointer;
}
.texto_botao{
    font-family: Montserrat;
    font-size: 12px;
    font-weight: 600;
    color: #FFFFFF;
}
.botao-tentar_novamente:hover{
    background-color: #394a65;
}
.botao-fechar:hover .icone-fechar{
    width:18px;
    height:18px;
}
.saiba-mais{
    display: none;
}
/* Deixando comentado para caso precise, mas não está sendo usado no momento */
/* @media(min-width: 1200px){
    .modal-erro-lab{
        width: 655px;
        height: 563px;
        box-shadow: 0px 0px 8.76px 8.76px rgba(0,0,0,0.25);
    }
    .botao-fechar{
        top: 26px;
        right: 26px;
    }
    .icone-fechar{
    width:35px;
    height:35px;
    }
    .icone-erro{
    width: 94.93px;
    height: 91.28px;
    }
    .texto{
        font-size: 43.81px;
        margin: 50.40px 0px 82.40px 0px ;
    }
    .motivo-erro{
        display: none;
    }
    .botao-tentar_novamente{
        display: none;
    }
    .saiba-mais{
        display: block;
        font-family: Montserrat;
        font-size: 26.29px;
        font-weight: 400;
        color: #000000;
        cursor: pointer;
    }
        .botao-fechar:hover .icone-fechar{
        width:39px;
        height:39px;
    }
    .saiba-mais:hover{
        color: #404040;
    }
}
     */