@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.input-text {
  width: 100%;               
  padding: 8px 12px;         
  border: 1px solid #ccc;    
  border-radius: 6px;        
  font-size: 12px;           
  font-family: 'Montserrat'; 
  box-sizing: border-box; 
  height: 100%;   
}

.textbox{
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 0 10%;
}

label {         
  margin-bottom: 8px;    
  font-weight: 400;          
  font-size: 14px;           
  color: #333;   
  font-family: 'Montserrat'; 
}

.input-text::placeholder {
  color: #999;           
  font-family: 'Montserrat';  
  font-size: 12px;      
  font-weight: 400; 
  font-style: normal;    
}


